.developer-type-img {
	width: 100%;
}

.overlay-icon {
	position: absolute;
	top: 45%;
	right: 50%;
	text-align: center;
	transform: translate(50%, -25%);
	color: #772c2c;
	font-size: 4em;

	h2 {
		font-size: .4em;
	}
}