.social-icon-part {
	padding: 1em 0;
	li {
		display: inline-block;
		border: 1px solid #fff;
		border-radius: 50%;
		width: 2em;
		margin: 0 .2em;
		a {
			 

			i {
				font-size: 1em;
				padding: .5em;
				-webkit-transition: -webkit-transform .6s ease-in-out;
          		transition: transform .6s ease-in-out;
			}
		}

		&:hover {
			background-color: #fff;

			i {
				color: #000;
				-webkit-transform: rotate(360deg);
          		transform: rotate(360deg);
			}
		}
	}
}